  <div class="footer">
      <div class="pull-right">
          <strong>El diputado del Atlantico</strong>
      </div>
      <div>
          <strong>Copyright</strong> CarsOk © 2014-2015
      </div>
  </div>
