<div class="footer">
    <div class="pull-right">
        <strong>El diputado del Atlantico</strong>
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2019
    </div>
</div>
